
body {
    height:800px;
    width: 100%;
    padding-left:40px;
    background-color: bisque;
}

.position > div {
    width:150px;
    border:1px solid black;
    border-radius: 10px;
    font:bold 22px/100px Arial,Sans-Serif;
    color:black;
    text-align:center;
    position: center;
}

#turquise{ background-color: lightseagreen;}
#photo {background-image: url("maxresdefault.jpg"); }
#blue{ background-color: dodgerblue;}

#violet{ background-color: mediumorchid;}

#orange{ background-color: antiquewhite;
width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: -7px -8px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px -8px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -7px -8px 10px 0px rgba(0,0,0,0.75);
}

#red{ background-color: tomato;}

#yellow{ background-color: orange;}

.static {
    position:static;
}

.relative {
    position:relative;
    top:50px;
    left:50px;
}

.absolute {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: bisque;
}

.fixed {
    position:fixed;
    bottom:20px;
    right:20px;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
     background-color: #111;
}

li a:hover {
    text-decoration: none;
    color: green;
}

.active {
    background-color: #4CAF50;
    width: 100%;
}
